@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
@import url('./root.css');
@import url('./poker.css');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.file-select{
    padding: 50px;
}
.carousel-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.image-container{
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
}
.image-container > * {
    flex-grow: 1;
}
label{
    display: block;
    padding: 10px 0px;
}
.input-container{
    padding: 50px;
    display: flex;
    gap: 20px;
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
}
.input-text{
    padding: 15px 0;
    position: relative;
    width: 100%;
}
.input-text > input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}
.drop-container{
    position: relative;
    height: 100%;
    width: 100%;
}
.background{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 10;
    user-select: none;
}
.absolute{
    position: absolute;
}
.no-content{
    border: 5px dashed red;
    border-radius: 5px;
    position: absolute;
}
.png-container{
    position: relative;
    z-index: 999;
}
.png{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    user-select: none;
}
.header{
    background-image: url('./image.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
}